<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>{{appname}} {{versionname}}</h2>
            </li>
            <li class="item item-divider">
                <p>{{ 'mm.settings.license' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Apache 2.0</h2>
                <p><a href="http://www.apache.org/licenses/LICENSE-2.0" mm-link>http://www.apache.org/licenses/LICENSE-2.0</a></p>
            </li>
            <li class="item item-divider">
                <p>{{ 'mm.settings.deviceinfo' | translate }}</p>
            </li>
            <li class="item item-text-wrap" ng-if="versionname">
                <p class="item-heading">{{ 'mm.settings.versionname' | translate}}</p>
                <p>{{ versionname }}</p>
            </li>
            <li class="item item-text-wrap" ng-if="versioncode">
                <p class="item-heading">{{ 'mm.settings.versioncode' | translate}}</p>
                <p>{{ versioncode }}</p>
            </li>
            <li class="item item-divider">
                <p>{{ 'Developers' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Sudhanshu Gupta</p>
            </li>
            <li class="item item-text-wrap">
                <p class="item-heading">Tanmay Patil</p>
            </li>
        </ul>
    </ion-content>
</ion-view>
